* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #29A749;
  }

  #home-header{
    background-color: #29A749;
  }

  #titulo-tabla{
    color: #444445;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
  }

  #btn-1{
    background-color: #29A749;
    color: #fff;
  } 

  #btn-1:hover{
    background-color: #55B15A;
  }

  #btn-2{
    background-color: #fff;
    border: 1px solid #29A749;
    color: #29A749;
  }